<template>
    <div class="dropdownInput" :class="className">
        <button
            class="d-flex justify-content-between align-items-center btn dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            :class="{'placeholder': !value}"
        >
            <span class="dropdownValue">{{ value ? value : placeholder }}</span>
        </button>
        <div class="dropdown-menu">
            <div class="option" @click="$emit('clear', inputName)">
                Any
            </div>

            <div
                class="option"
                :key="option"
                @click="$emit('change', {inputName, value: option})"
                v-for="option in options"
            >
                {{option}}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        options: Array,
        value: [String, Number, Boolean],
        className: String,
        placeholder: String,
        inputName: String,
    },
};
</script>

<style lang="scss" scoped>
    @import "../../scss/variables";

    .dropdownInput {
        width: 100%;
        font-size: 16px;
        color: $bluePrimary;
        position: relative;

        @media only screen and (min-width: 768px) {
            max-width: 100%;
            width: 100%;
        }

        @media only screen and (min-width: 1024px) {
            max-width: 190px;
            width: 190px;
        }

        .dropdown-toggle,
        .dropdown-menu {
            font-size: inherit;
            padding: 0 20px;
            border: 1px solid $greySecondary;
            width: inherit;
            min-width: 0;
            color: inherit;
        }

        .dropdown-toggle {
            height: 44px;
            background-color: $white;
            position: relative;
            box-shadow: none !important;
            border-radius: $borderRadiusSm;

            &.placeholder {
                color: $darkGreySecondary;
            }

            .dropdownValue {
                overflow-x: hidden;
            }

            &:after {
                border-top-color: $bluePrimary;
            }
        }

        .dropdown-menu {
            background-color: $lightGreySecondary;
            border-radius: 0 0 $borderRadiusSm $borderRadiusSm;
            margin: 0;
            max-height: 280px;
            overflow: auto;

            .option {
                padding: 15px 0;
                border-bottom: 2px solid $greySecondary;
                cursor: pointer;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

        &.show {
            .dropdown-toggle {
                border-radius: $borderRadiusSm $borderRadiusSm 0 0;

                .angle {
                    transform: rotate(0deg);
                }
            }
        }
    }
</style>
