<template>
    <div class="card text-center clientCard">
        <div class="imageContainer">
            <img class="card-img-top" :src="client.image_url" :alt="client.company_name" loading="lazy"/>
        </div>

        <p class="card-text">
            {{ $filters.trimString(client.excerpt, 150) }}
        </p>

        <div class="cta mt-auto">
            <a href="#" class="d-flex justify-content-center align-items-center">
                Read more <Arrow class-name="ml-2 d-flex"/>
            </a>
            <div class="d-flex justify-content-center align-items-center readTime">
                <Clock class-name="mr-1 d-flex"/>{{ $filters.readTimeInMin(client.word_count)}} MIN READ
            </div>
        </div>
    </div>
</template>

<script>
import Arrow from "../icons/Arrow";
import Clock from "../icons/Clock";

export default {
    components: {
        Arrow,
        Clock,
    },
    props: {
        client: Object,
    },
    methods: {
        readTimeInMin() {
            return Math.floor(this.client.word_count/2);
        }
    },
}
</script>

<style lang="scss" scoped>
.clientCard {
    padding: 40px 15px;
    height: 330px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgb(30 30 30 / 10%);

    p,
    a,
    .imageContainer {
        margin-bottom: 15px;
    }

    .imageContainer {
        img {
            height: 80px;
            width: auto;
        }
    }

    .card-body {
        padding: 20px;
    }

    .cta {
        .readTime {
            font-size: 10px;
        }
    }
}
</style>
