<template>
    <div :class="className">
        <svg width="21px" height="15px" viewBox="0 0 21 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="front-end-challenge" transform="translate(-362.000000, -541.000000)" fill="#177CBA" fill-rule="nonzero">
                    <g id="Card" transform="translate(166.000000, 294.000000)">
                        <path d="M203.646395,261.881796 L203.879913,261.644069 C204.034667,261.486504 204.034667,261.231023 203.879913,261.073424 L197.985198,255.071606 L216.603703,255.071606 C216.822558,255.071606 217,254.89094 217,254.668109 L217,254.331862 C217,254.10903 216.822558,253.928364 216.603703,253.928364 L197.985198,253.928364 L203.879913,247.926547 C204.034667,247.768981 204.034667,247.5135 203.879913,247.355901 L203.646395,247.118174 C203.491641,246.960609 203.240719,246.960609 203.085965,247.118174 L196.116065,254.214679 C195.961312,254.372245 195.961312,254.627726 196.116065,254.785325 L203.085965,261.88183 C203.240719,262.039396 203.491641,262.039396 203.646395,261.881796 Z" id="Shape" transform="translate(206.500000, 254.500000) scale(-1, 1) translate(-206.500000, -254.500000) "></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</template>

<script>
    export default {
        props: {
            className: String
        }
    }
</script>
