<template>
    <div :class="className">
        <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="front-end-challenge" transform="translate(-285.000000, -570.000000)" fill="#5D7888" fill-rule="nonzero">
                    <g id="Card" transform="translate(166.000000, 294.000000)">
                        <path d="M126.387692,276.825545 C122.508859,276.825545 119.366154,279.96837 119.366154,283.847352 C119.366154,287.726334 122.508859,290.869159 126.387692,290.869159 C130.266526,290.869159 133.409231,287.726334 133.409231,283.847352 C133.409231,279.96837 130.266526,276.825545 126.387692,276.825545 Z M132.503226,283.847352 C132.503226,287.208193 129.78238,289.963119 126.387692,289.963119 C123.02698,289.963119 120.272159,287.242169 120.272159,283.847352 C120.272159,280.486511 122.993005,277.731585 126.387692,277.731585 C129.748404,277.731585 132.503226,280.452535 132.503226,283.847352 Z M128.287471,286.347455 L125.988484,284.676945 C125.900715,284.611823 125.849752,284.509893 125.849752,284.402301 L125.849752,279.883429 C125.849752,279.696558 126.00264,279.543664 126.189504,279.543664 L126.585881,279.543664 C126.772744,279.543664 126.925633,279.696558 126.925633,279.883429 L126.925633,284.025729 L128.921675,285.478223 C129.074563,285.588647 129.105707,285.801 128.995288,285.953894 L128.763124,286.273839 C128.652705,286.423902 128.44036,286.457879 128.287471,286.347455 L128.287471,286.347455 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</template>

<script>
    export default {
        props: {
            className: String
        }
    }
</script>
