<template>
  <div>
    <div class="header">
      <div class="container">
        <Logo/>
      </div>
    </div>
    <div class="content">
      <div class="bannerInteractions">
        <div class="container">
          <div class="row" v-if="filterOptions.length > 0">
            <div class="col-12">
              <h1 class="title text-center font-weight-bold">You're in good company</h1>

              <!-- Filters -->
              <div class="d-flex justify-content-center align-items-center clientFilters">
                <div class="filterTitle">FILTER BY</div>
                <Dropdown
                        class-name="filterDropdown"
                        :placeholder="filterOption.placeholder"
                        :options="filterOption.options"
                        :input-name="filterOption.name"
                        :key="filterOption.name"
                        :value="filterSelected[filterOption.name]"
                        @change="handleChange"
                        @clear="handleClear"
                        v-for="filterOption in filterOptions"
                />
                <button type="button" class="btn btn-danger filterClear" @click="handleReset">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="clientCardContainer">
        <div class="container">
          <div class="row">
            <!-- Client cards-->
            <div class="col-12 col-md-6 col-lg-4" v-for="client in clients" :key="client.id">
              <ClientCard :client="client"/>
            </div>

            <!-- Simple Pagination-->
            <div class="col-12">
              <div class="d-flex justify-content-center pagination">
                <Paginate :current-page="currentPage" :pages="pages" @change="handlePaginate"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {CACHING_ENABLED, CACHING_STORAGE_TIME, CLIENTS_CACHE_NAME, MOCKY, MOCKY_API_KEY} from "./constants";
import ClientCard from "./components/cards/ClientCard";
import Dropdown from "./components/inputs/Dropdown";
import Logo from "./components/icons/Logo";
import "@hennge/vue3-pagination/dist/vue3-pagination.css";
import Paginate from "./components/generic/Paginate";
import {getCurrentTime} from "./helpers";

const urlPage = parseInt(new URLSearchParams(window.location.search).get('p'));

export default {
  name: 'App',
  components: {
    Paginate,
    Dropdown,
    ClientCard,
    Logo,
  },
  data() {
    return {
      initialClients: [],
      clients: [],
      filterOptions: [],
      filterSelected: {},
      currentPage: isNaN(urlPage) ? 1 : urlPage,
      perPage: 10,
    }
  },
  computed: {
    pages () {
      // If there are no filter being used, use all data (initialClients)
      if (Object.keys(this.filterSelected).length === 0) {
        return Math.ceil(this.initialClients.length / this.perPage);
      }

      // otherwise, the number of pages we have depends on number of clients
      return Math.ceil(this.clients.length / this.perPage);
    },
  },
  watch: {
    currentPage () {
      history.pushState({id: `clients-${this.currentPage}`}, "Deputy Clients", `/?p=${this.currentPage}`);
    }
  },

  methods: {
    handleApplyFilter() {
      // filtering data will reset page to 1
      this.handlePaginate(1);

      const selectedFilters = Object.entries(this.filterSelected);

      this.clients = this.initialClients.filter((client) => {
        return selectedFilters.every((selectedFilter) => {

          // When the property is an array, we use findIndex
          if (Array.isArray(client[selectedFilter[0]])) {
            return client[selectedFilter[0]].findIndex((selectedFilterArr) => selectedFilterArr === selectedFilter[1]) !== -1;
          }

          // otherwise, just check by value
          return client[selectedFilter[0]] === selectedFilter[1];
        });
      });
    },
    handlePaginationFilter() {
      this.clients = this.initialClients.slice(this.perPage * (this.currentPage - 1), this.perPage * this.currentPage);
    },
    handleChange(inputObj) {
      // update the filter that is selected
      this.filterSelected = {...this.filterSelected, [inputObj.inputName]: inputObj.value};
      this.handleApplyFilter();
    },
    handleClear(inputName) {
      if (inputName in this.filterSelected) {
        this.filterSelected = Object.keys(this.filterSelected).reduce((filter, key) => {
          if (key !== inputName) {
            filter[key] = this.filterSelected[key]
          }
          return filter;
        }, {});

        this.handleApplyFilter();
      }
    },
    handleReset() {
      this.clients = this.initialClients;
      this.filterSelected = {};
      this.currentPage = 1;
    },
    handlePaginate(pageTo) {
      this.currentPage = pageTo;
      this.handlePaginationFilter();
    },
    populateFilters() {
      // populate filterOptions with returned data
      const industries = [];
      const locations = [];
      const companySizes = [];
      const useCases = [];

      this.initialClients.forEach((client) => {
        industries.push(client.industry);
        locations.push(client.location);
        companySizes.push(client.company_size);

        client.use_case.forEach((useCase) => {
          useCases.push(useCase);
        });
      });

      this.filterOptions = [
        {options: Array.from(new Set(industries)), name: 'industry', placeholder: 'Industries'},
        {options: Array.from(new Set(locations)), name: 'location', placeholder: 'Location'},
        {options: Array.from(new Set(companySizes)), name: 'company_size', placeholder: 'Company Size'},
        {options: Array.from(new Set(useCases)), name: 'use_case', placeholder: 'Use Case'},
      ];
    },
  },

  created() {
    const fetchTarget = `${MOCKY}${MOCKY_API_KEY}`;
    let clientsCached = localStorage.getItem(CLIENTS_CACHE_NAME);

    // caching is enabled and we had data in storage
    if (CACHING_ENABLED && clientsCached) {
      const clientsCachedObj = JSON.parse(clientsCached);

      if ((getCurrentTime() - clientsCachedObj.lastFetch) < (CACHING_STORAGE_TIME * 60000)) {
        this.initialClients = clientsCachedObj.clients;
        this.clients = clientsCachedObj.clients;
        this.populateFilters();
        this.handlePaginationFilter();
      }
    } else {
      axios.get(fetchTarget).then((response) => {
        if (response.status !== 200) {
          alert("Error fetching data from the server");
          // you can add more steps to log the error here if needed, like logging, etc
          return;
        }

        // for easy reset and filtering, we store the original value from the response
        this.initialClients = response.data;
        this.clients = response.data;
        this.populateFilters();
        this.handlePaginationFilter();

        // cached fetched result
        if (CACHING_ENABLED) {
          localStorage.setItem(CLIENTS_CACHE_NAME, JSON.stringify({clients: [...response.data], lastFetch: getCurrentTime()}));
        }
      });
    }
  },
}
</script>

<style lang="scss" scoped>
  @import "./scss/variables";

  .header {
    background-color: $bluePrimary;
    padding-top: 25px;
    padding-bottom: 12px;
  }

  .content {
    padding-bottom: 70px;

    @media only screen and (min-width: 1200px) {
      .bannerInteractions {
        background: $greyBackgroundLighter;
        height: 395px;
      }

      .clientCardContainer {
        margin-top: -165px;
      }
    }
  }

  .title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;

    @media only screen and (min-width: 1200px) {
      margin-top: 70px;
      margin-bottom: 35px;
    }
  }

  .clientFilters {
    margin-bottom: 40px;
    flex-wrap: wrap;

    .filterTitle {
      font-size: 16px;
      flex: 0 0 100%;
      margin-bottom: 10px;

      @media only screen and (min-width: 1200px) {
        margin-right: 30px;
        font-size: 12px;
        flex: inherit;
        margin-bottom: 0;
      }
    }

    .filterDropdown {
      flex: 0 0 50%;
      width: calc(100% - 15px);
      margin-bottom: 15px;

      @media only screen and (min-width: 1200px) {
        margin-right: 30px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 30px;
        }
      }
    }

    .filterClear {
      width: 100%;

      @media only screen and (min-width: 1200px) {
        width: auto;
      }
    }
  }
</style>

<style lang="scss">
  @import "./scss/variables";

  body {
    background: $greyBackground;
  }

  .clientFilters {
    .filterDropdown {
      &:nth-child(odd) {
        .dropdown-toggle {
          margin-left: auto;

          @media only screen and (min-width: 1024px) {
            margin-left: inherit;
          }
        }
      }
    }
  }

  .pagination {
    li {
      button {
        font-size: 16px;
        width: 40px;
        height: 40px;
      }
    }
  }
</style>
