//Colour Palette
//Primary Colours
$bluePrimary: #093149;

//Secondary Colours
$lightGreySecondary: #f7f7f7;
$greySecondary: #e5e5e5;
$darkGreySecondary: #a0a0a0;

// Colors Hex
$white: #fff;
$greyBackground: #f3f5f6;
$greyBackgroundLighter: #fbfbfb;

// Border Radius
$borderRadiusSm: 5px;
