<template>
    <nav class="paginationNav" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" @click="$emit('change', currentPage - 1)" v-if="currentPage > 1">
                <span class="page-link">{{ prevText }}</span>
            </li>
            <li class="page-item" v-if="showLeftInterval"><span class="page-link">{{ intervalText }}</span></li>
            <li
                class="page-item"
                :class="{active: page === currentPage}"
                v-for="page in centerPaginationArray"
                @click="$emit('change', page)"
                :key="page"
            >
                <span class="page-link">{{ page }}</span>
            </li>
            <li class="page-item" v-if="showRightInterval"><span class="page-link">{{ intervalText }}</span></li>
            <li class="page-item" @click="$emit('change', currentPage + 1)" v-if="currentPage < pages">
                <span class="page-link">{{ nextText }}</span>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    props: {
        pages: Number,
        currentPage: Number,
        shownLimit: { // has to be an odd number, the active page needs to be at the middle
            type: Number,
            default: 5,
            validator: value => value % 2 > 0,
        },
        intervalText: {
            type: String,
            default: "...",
        },
        prevText: {
            type: String,
            default: "Prev",
        },
        nextText: {
            type: String,
            default: "Next",
        },
    },

    data() {
        return {
            breakUpPoint: Math.ceil(this.shownLimit/2),
            pageNumberInterval: Math.floor(this.shownLimit/2),
        };
    },

    computed: {
        centerPaginationArray () {
            const iteratorArray = [];
            let min = this.currentPage - this.pageNumberInterval > 0 ? this.currentPage - this.pageNumberInterval : 1;
            const max = this.currentPage + this.pageNumberInterval <= this.pages ? this.currentPage + this.pageNumberInterval : this.pages;

            for (let i = 0; min + i <= max; i++) {
                iteratorArray.push(min + i);
            }

            return iteratorArray.length <= this.shownLimit ? iteratorArray : [];
        },
        showLeftInterval () {
            return this.currentPage > this.shownLimit || this.currentPage === this.breakUpPoint + 1;
        },
        showRightInterval () {
            return this.currentPage < this.pages - this.breakUpPoint || this.currentPage === this.pages - this.breakUpPoint;
        },
    },
}
</script>
